Timeout in resolving values
Timeout in running neo4j query
Running Main.py on event-espresso-requirements-check

###########################
### Preprocessing stage ###
###########################
### Starting preproccessing!
Registering plugin to plugin database... Plugin registration done
╔[1] Preprocessing step "Add AST_JS label to JS nodes" (__label_js_nodes) begin.
╚[1] Preprocessing step "Add AST_JS label to JS nodes" (__label_js_nodes) finished successfully in 0:00:00.438368.

0 edges imported to Neo4j
Preprocessing step 0 done!
╔[2] Preprocessing step "Create DB indices" (__create_indices) begin.
Creating indices for commonly used features... done.
╚[2] Preprocessing step "Create DB indices" (__create_indices) finished successfully in 0:00:00.886447.

0 edges imported to Neo4j
Preprocessing step 1 done!
Analzying PHP class hierarchy...
Start filling class hierarchy information
Finished filling class hierarchy information
Start filling function information
Finished filling function information
0 edges imported to Neo4j
Preprocessing step 2 done!
╔[3] Preprocessing step "connect data flows for class properties" (__handle_class_properties) begin.
Added 0 PHP_REACHES edges.
╚[3] Preprocessing step "connect data flows for class properties" (__handle_class_properties) finished successfully in 0:00:00.254532.

╔[4] Preprocessing step "Connect AST_PARAM edges" (__connect_ASTPARAM_to_var) begin.
Added 0 REACHES edges for AST_PARAM to variables
╚[4] Preprocessing step "Connect AST_PARAM edges" (__connect_ASTPARAM_to_var) finished successfully in 0:00:00.701627.

╔[5] Preprocessing step "Create PHP_REACHES edges" (__php_reach_edges) begin.
Added 170 :PHP_REACHES for original :REACHES edges.
╚[5] Preprocessing step "Create PHP_REACHES edges" (__php_reach_edges) finished successfully in 0:00:00.710062.

╔[6] Preprocessing step "Create parent-to-self edges" (__parent_self_edges) begin.
Added 0 CALLS edges.
╚[6] Preprocessing step "Create parent-to-self edges" (__parent_self_edges) finished successfully in 0:00:00.632781.

╔[7] Preprocessing step "Connect data flows for class constants" (__class_constant_hierarchy) begin.
╚[7] Preprocessing step "Connect data flows for class constants" (__class_constant_hierarchy) finished successfully in 0:00:00.158061.

╔[8] Preprocessing step "Create AST assign hierarchy PHP_REACHES edges" (__ast_assign_function_edges) begin.
Added 108 PHP_REACHES edges.
╚[8] Preprocessing step "Create AST assign hierarchy PHP_REACHES edges" (__ast_assign_function_edges) finished successfully in 0:00:02.087837.

╔[9] Preprocessing step "Build hierarchical data flow edges for php and js" (__build_php_js_hierarchical_edges) begin.
Building hierarchical edges for PHP...
Number of rows: 1951
Added 1673 PHP_REACHES edges. 
Building hierarchical edges for JS...
Number of rows: 1951
Added 0 JS_REACHES edges. 
╚[9] Preprocessing step "Build hierarchical data flow edges for php and js" (__build_php_js_hierarchical_edges) finished successfully in 0:00:01.136642.

╔[10] Preprocessing step "Building HTML ASTs" (__build_html_ast) begin.
HTML code from file '/home/ec2-user/GDPR-CCPA-violation-checker/navex_docker/tempApp/event-espresso-requirements-check/espresso_requirements_check.php' cannot be parsed correct.
HTML code from file '/home/ec2-user/GDPR-CCPA-violation-checker/navex_docker/tempApp/event-espresso-requirements-check/assets/phpinfo.php' cannot be parsed correct.
╚[10] Preprocessing step "Building HTML ASTs" (__build_html_ast) finished successfully in 0:00:00.393011.

1000 PHP_REACHES edges created
1951 PHP_REACHES edges created
1951 edges imported to Neo4j
Preprocessing step 3 done!
╔[11] Preprocessing step "Remove wrong/excessive hierarchical edges" (__remove_wrong_hierarchical_edges) begin.
Deleted 616 incorrect PHP_REACHES edges. Deleted 0 incorrect JS_REACHES edges.
╚[11] Preprocessing step "Remove wrong/excessive hierarchical edges" (__remove_wrong_hierarchical_edges) finished successfully in 0:00:01.000665.

0 edges imported to Neo4j
Preprocessing step 4 done!
╔[12] Preprocessing step "Handle class hierarchy and make CALLS edges and certain data flows" (__handle_class_hierarchy) begin.
Added 0 CALLS edges.
╚[12] Preprocessing step "Handle class hierarchy and make CALLS edges and certain data flows" (__handle_class_hierarchy) finished successfully in 0:00:00.547318.

╔[13] Preprocessing step "Create function call edges" (__function_call_edges) begin.
Added 3 PHP_REACHES edges to function parameters.
╚[13] Preprocessing step "Create function call edges" (__function_call_edges) finished successfully in 0:00:00.583816.

╔[14] Preprocessing step "Create PHP_REACHES edges between function returns and callers" (__ast_call_return_edges) begin.
Added 25 PHP_REACHES edges.
╚[14] Preprocessing step "Create PHP_REACHES edges between function returns and callers" (__ast_call_return_edges) finished successfully in 0:00:00.207861.

╔[15] Preprocessing step "Handle class hierarchy and make CALLS edges and certain data flows" (__handle_class_hierarchy) begin.
Added 0 CALLS edges.
╚[15] Preprocessing step "Handle class hierarchy and make CALLS edges and certain data flows" (__handle_class_hierarchy) finished successfully in 0:00:00.070390.

╔[16] Preprocessing step "Create function call edges" (__function_call_edges) begin.
Added 0 PHP_REACHES edges to function parameters.
╚[16] Preprocessing step "Create function call edges" (__function_call_edges) finished successfully in 0:00:00.076430.

╔[17] Preprocessing step "Create PHP_REACHES edges between function returns and callers" (__ast_call_return_edges) begin.
Added 0 PHP_REACHES edges.
╚[17] Preprocessing step "Create PHP_REACHES edges between function returns and callers" (__ast_call_return_edges) finished successfully in 0:00:00.011237.

╔[18] Preprocessing step "Create HTML_TO_PHP_REACHES edges between form inputs and PHP request vars" (__html_to_php_reaches) begin.
Added 0 HTML_TO_PHP_REACHES edges. Successfully connect 0 out of 0 inputs to PHP. 
╚[18] Preprocessing step "Create HTML_TO_PHP_REACHES edges between form inputs and PHP request vars" (__html_to_php_reaches) finished successfully in 0:00:00.050456.

28 PHP_REACHES edges created
28 edges imported to Neo4j
Preprocessing step 5 done!
╔[19] Preprocessing step "Overtaint Function Calls" (__overtaintFunctionCalls) begin.
Deleted 3 PHP_REACHES edges that overtaint function call data flows.
╚[19] Preprocessing step "Overtaint Function Calls" (__overtaintFunctionCalls) finished successfully in 0:00:00.184622.

0 edges imported to Neo4j
Preprocessing step 6 done!
╔[20] Preprocessing step "Create SQL AST" (__add_sql_ast) begin.
No SQL nodes to process.
╚[20] Preprocessing step "Create SQL AST" (__add_sql_ast) finished successfully in 0:00:00.147451.

╔[21] Preprocessing step "Build HTML AST for HTML embedded in PHP code (HTML to PHP traversal)" (__build_html_ast_in_php) begin.
HTML code '$'sprintf(__("The purpose of this plugin is to identify the <em>most common</em> server configuration issues and identify any potential areas of conflict. Not everything displaying a <strong>WARNING</strong> is necessarily a cause for alarm. Please read through each alert carefully and %1$scontact the Event Espresso support staff%2$s or your webhost if you have any questions.", "espresso-requirements"), "<a href="http://eventespresso.com/support/forums/" target="_blank">", "</a>")'' cannot be parsed correct.
HTML code '$'sprintf(__("The purpose of this plugin is to identify the <em>most common</em> server configuration issues and identify any potential areas of conflict. Not everything displaying a <strong>WARNING</strong> is necessarily a cause for alarm. Please read through each alert carefully and %1$scontact the Event Espresso support staff%2$s or your webhost if you have any questions.", "espresso-requirements"), "<a href="http://eventespresso.com/support/forums/" target="_blank">", "</a>")'' cannot be parsed correct.
HTML code '$'add_query_arg(["KeepThis" => true, "TB_iframe" => true, "height" => 600, "width" => 800], EVENT_ESPRESSO_REQUIREMENTS_PHPINFO_FULLURL)'' cannot be parsed correct.
HTML code '$'$_SERVER_REQUEST_URI'' cannot be parsed correct.
HTML code '$'$_SERVER_REQUEST_URI'' cannot be parsed correct.
HTML code '$'sprintf(__("Once you have addressed the issues below, re-run this plugin and %1$sget your copy of Event Espresso here%2$s.", "espresso-requirements"), "<a href="https://eventespresso.com/pricing/">", "</a>")'' cannot be parsed correct.
HTML code '$'add_query_arg(["KeepThis" => true, "TB_iframe" => true, "height" => 600, "width" => 800], EVENT_ESPRESSO_REQUIREMENTS_PHPINFO_FULLURL)'' cannot be parsed correct.
HTML code '$'phpversion()'' cannot be parsed correct.
HTML code '$'$php_mem'' cannot be parsed correct.
HTML code '$'$max_upload'' cannot be parsed correct.
HTML code '$'size_format(memory_get_usage(), 2)'' cannot be parsed correct.
HTML code '$'YesNo'' cannot be parsed correct.
HTML code '$'YesNo'' cannot be parsed correct.
HTML code '$'You have successfully allocated MB of memory<br />'' cannot be parsed correct.
HTML code '$'$mysql_version'' cannot be parsed correct.
HTML code '$'$wp_version'' cannot be parsed correct.
HTML code '$'sprintf(__("%1$sUpgrade WordPress now%2$s.", "espresso-requirements"), "<a href="update-core.php">", "</a>")'' cannot be parsed correct.
HTML code '$'sprintf(__("%1$sUpgrade WordPress now%2$s.", "espresso-requirements"), "<a href="update-core.php">", "</a>")'' cannot be parsed correct.
HTML code '$'$theme_Name'' cannot be parsed correct.
HTML code '$'sprintf(__("You are using %5$s%1$s%4$s by %3$s, which is a %6$sThemeForest%4$s theme.  Please contact your %2$stheme developer%4$s if you have any theme-related issues or %7$spurchase a support token%4$s if there are theme issues you would like the Event Espresso support team to help resolve", "espresso-requirements"), $theme["Name"], "<a href=" . $theme_author_uri . "" target="_blank">", $theme_author, "</a>", $theme["ThemeURI"], "<a href="http://themeforest.com" target="_blank">", "<a href="http://eventespresso.com/product/premium-support-token/" target="_blank">")'' cannot be parsed correct.
HTML code '$'sprintf(__("Please contact your %1$stheme developer%2$s or %3$slearn more%2$s about properly enqueuing javascript files.", "espresso-requirements"), "<a href=" . $theme_author_uri . "" target="_blank">", "</a>", "<a href="http://codex.wordpress.org/Function_Reference/wp_enqueue_script" target="_blank">")'' cannot be parsed correct.
HTML code '$'$webserver'' cannot be parsed correct.
HTML code '$'$webserver'' cannot be parsed correct.
HTML code '$'apache_get_version()'' cannot be parsed correct.
HTML code '$'</tr><tr class="plugin-update-tr"><td colspan="5" class="plugin-update"><div class="updated alert span12 pass">espresso_requirements_response()</div><div class="update-message alert span12 pass">espresso_requirements_response()</div></td></tr>'' cannot be parsed correct.
HTML code '$'espresso_requirements_get_version()'' cannot be parsed correct.
HTML code '$'file_get_contents($root_dir . ".htaccess")'' cannot be parsed correct.
HTML code '$'file_get_contents($base_dir . ".htaccess")'' cannot be parsed correct.
HTML code '$'file_get_contents($root_dir . "wp-content/.htaccess")'' cannot be parsed correct.
HTML code '$'file_get_contents($root_dir . "wp-admin/.htaccess")'' cannot be parsed correct.
HTML code '$'file_get_contents($root_dir . "wp-includes/.htaccess")'' cannot be parsed correct.
HTML code '$'"><input class="button-primary" type="submit" name="Submit" value="Test"></form></div>
	'' cannot be parsed correct.
HTML code '$'"><input class="button-primary" type="submit" name="Submit" value="Reload Without Test"></form>
			</div>
	'' cannot be parsed correct.
╚[21] Preprocessing step "Build HTML AST for HTML embedded in PHP code (HTML to PHP traversal)" (__build_html_ast_in_php) finished successfully in 0:00:04.313021.

╔[22] Preprocessing step "Connect HTML AST and PHP AST trees (PHP to HTML traversal)" (__connect_html_php_ast) begin.
Successfully connected PHP to HTML ASTs in 0 out of 0 files. Added 0 PHP_TO_HTML_REACHES edges.
╚[22] Preprocessing step "Connect HTML AST and PHP AST trees (PHP to HTML traversal)" (__connect_html_php_ast) finished successfully in 0:00:00.064350.

╔[23] Preprocessing step "Create do_action and apply_filter edges" (__do_action_to_function) begin.
Found 0 do_action/apply_filters calls and 6 add_action/add_filter calls. Now connecting do-add pairs.
Added 0 :PHP_REACHES edges.
╚[23] Preprocessing step "Create do_action and apply_filter edges" (__do_action_to_function) finished successfully in 0:00:00.447565.

0 edges imported to Neo4j
Preprocessing step 7 done!
╔[24] Preprocessing step "Security/storage detectors" (__security_detectors) begin.
### Running detectors
### Start running ArrayElementDetector
### Start running CubridDetector
### Start running DbaseDetector
### Start running DbplusDetector
### Start running DefuseDetector
### Finish running DefuseDetector
### Start running FileProDetector
### Start running FirebirdInterBaseDetector
### Finish running FileProDetector
### Start running FrontBaseDetector
### Finish running FirebirdInterBaseDetector
### Start running HashDetector
### Finish running DbaseDetector
### Start running IBMDb2Detector
### Finish running DbplusDetector
### Start running InformixDetector
### Finish running FrontBaseDetector
### Start running IngresDetector
### Finish running CubridDetector
### Start running maxdbDetector
### Finish running InformixDetector
### Start running MongoDbDetector
### Finish running IngresDetector
### Start running MongoDetector
### Finish running MongoDetector
### Start running MsqlDetector
### Finish running IBMDb2Detector
### Start running MySQLDetector
### Finish running MongoDbDetector
### Start running MySQLiDetector
### Finish running MsqlDetector
### Start running Oci8Detector
### Finish running MySQLDetector
### Start running OpenSSLDetector
### Finish running Oci8Detector
### Start running ParadoxDetector
### Finish running ParadoxDetector
### Start running PasswordHashingDetector
### Finish running HashDetector
### Start running PhpCurlDetector
### Finish running ArrayElementDetector
### Start running PHPDataObjectDetector
### Finish running PHPDataObjectDetector
### Start running PHPIncludedDetector
### Finish running PasswordHashingDetector
### Start running PHPRetrievalDetector
### Finish running PHPIncludedDetector
### Start running PHPSecLibDetector
### Finish running PHPSecLibDetector
### Start running PHPStorageDetector
### Finish running PhpCurlDetector
### Start running PhpVarDetector
### Finish running OpenSSLDetector
### Start running PostgreSQLDetector
### Finish running PhpVarDetector
### Start running PropertyDetector
### Finish running PostgreSQLDetector
### Start running Sqlite3Detector
### Finish running PHPStorageDetector
### Start running SqliteDetector
### Finish running SqliteDetector
### Start running SqlServerDetector
### Finish running Sqlite3Detector
### Start running SybaseDetector
### Finish running SybaseDetector
### Start running TokyoTyrantDetector
### Finish running PropertyDetector
### Start running UserInputDetector
### Finish running TokyoTyrantDetector
### Start running VariableDetector
### Finish running SqlServerDetector
### Start running WordpressHashingFnDetector
### Finish running maxdbDetector
### Start running WordPressRemoteDetector
### Finish running MySQLiDetector
### Start running WordPressRetrievalDetector
### Finish running WordpressHashingFnDetector
### Start running WordPressStorageDetector
### Finish running WordPressRemoteDetector
### Start running WP_UserDetector
### Finish running WP_UserDetector
### Start running GenericDatabaseUsageDetector
### Finish running WordPressStorageDetector
### Start running GenericEncryptionDetector
### Finish running WordPressRetrievalDetector
### Start running DeletionDetector
### Finish running GenericEncryptionDetector
### Start running UninstallDetector
### Finish running GenericDatabaseUsageDetector
### Finish running UserInputDetector
### Finish running PHPRetrievalDetector
### Finish running VariableDetector
### Finish running UninstallDetector
### Finish running DeletionDetector
### Finished running detectors
espresso_requirements_check.php:145
  - RETRIEVAL call to file_get_contents(get_stylesheet_uri()).
  - Data types: file
espresso_requirements_check.php:165
  - RETRIEVAL call to file_get_contents(get_template_directory() . "/functions.php").
  - Data types: file
espresso_requirements_check.php:559
  - RETRIEVAL call to file_get_contents($root_dir . ".htaccess").
  - Data types: file
espresso_requirements_check.php:566
  - RETRIEVAL call to file_get_contents($base_dir . ".htaccess").
  - Data types: file
espresso_requirements_check.php:573
  - RETRIEVAL call to file_get_contents($root_dir . "wp-content/.htaccess").
  - Data types: file
espresso_requirements_check.php:580
  - RETRIEVAL call to file_get_contents($root_dir . "wp-admin/.htaccess").
  - Data types: file
espresso_requirements_check.php:587
  - RETRIEVAL call to file_get_contents($root_dir . "wp-includes/.htaccess").
  - Data types: file 

espresso_requirements_check.php:63
  - variable '$is_pass' of personal types {'password'} is found.
  - Data types: password
espresso_requirements_check.php:207
  - variable '$is_pass' of personal types {'password'} is found.
  - Data types: password
espresso_requirements_check.php:238
  - variable '$is_pass' of personal types {'password'} is found.
  - Data types: password
espresso_requirements_check.php:245
  - variable '$is_pass' of personal types {'password'} is found.
  - Data types: password
espresso_requirements_check.php:247
  - variable '$is_pass' of personal types {'password'} is found.
  - Data types: password
espresso_requirements_check.php:611
  - variable '$is_pass' of personal types {'password'} is found.
  - Data types: password
espresso_requirements_check.php:613
  - variable '$is_pass' of personal types {'password'} is found.
  - Data types: password
espresso_requirements_check.php:615
  - variable '$is_pass' of personal types {'password'} is found.
  - Data types: password
espresso_requirements_check.php:624
  - variable '$is_pass' of personal types {'password'} is found.
  - Data types: password
espresso_requirements_check.php:626
  - variable '$is_pass' of personal types {'password'} is found.
  - Data types: password
espresso_requirements_check.php:630
  - variable '$is_pass' of personal types {'password'} is found.
  - Data types: password 

By data type:
file
	PHPRetrievalDetector.file_get_contents(get_template_directory() . "/functions.php") - {'file'}
	PHPRetrievalDetector.file_get_contents($root_dir . "wp-admin/.htaccess") - {'file'}
	PHPRetrievalDetector.file_get_contents($root_dir . ".htaccess") - {'file'}
	PHPRetrievalDetector.file_get_contents($root_dir . "wp-includes/.htaccess") - {'file'}
	PHPRetrievalDetector.file_get_contents($base_dir . ".htaccess") - {'file'}
	PHPRetrievalDetector.file_get_contents($root_dir . "wp-content/.htaccess") - {'file'}
	PHPRetrievalDetector.file_get_contents(get_stylesheet_uri()) - {'file'}
password
	VariableDetector.(unknown) - {'password'}
	VariableDetector.(unknown) - {'password'}
	VariableDetector.(unknown) - {'password'}
	VariableDetector.(unknown) - {'password'}
	VariableDetector.(unknown) - {'password'}
	VariableDetector.(unknown) - {'password'}
	VariableDetector.(unknown) - {'password'}
	VariableDetector.(unknown) - {'password'}
	VariableDetector.(unknown) - {'password'}
	VariableDetector.(unknown) - {'password'}
	VariableDetector.(unknown) - {'password'}
╚[24] Preprocessing step "Security/storage detectors" (__security_detectors) finished successfully in 0:00:07.058628.

0 edges imported to Neo4j
Preprocessing step 8 done!
╔[25] Preprocessing step "Create source to sink edges" (__storage_to_retrieval) begin.
Adding storage reaches edges... Finished collecting storage and retrieval nodes from detectors
Finished collecting sql insert, update, and select nodes
Finished collecting SQL statement info
Start inserting STORE_REACHES
Done adding storage edges. Added 0 edges in all.
╚[25] Preprocessing step "Create source to sink edges" (__storage_to_retrieval) finished successfully in 0:00:00.095453.

0 edges imported to Neo4j
Preprocessing step 9 done!
╔[26] Preprocessing step "Label all of the personal data nodes and encrypted nodes" (__taint_nodes) begin.
Finished collecting propagation info for personal nodes
Wrote source sink information to database
Tainted 11 nodes as PERSONAL
In total, tainted 11 nodes as PERSONAL
Finished collecting propagation info for encrypted nodes
In total, tainted 0 nodes as ENCRYPTED
╚[26] Preprocessing step "Label all of the personal data nodes and encrypted nodes" (__taint_nodes) finished successfully in 0:00:00.581745.

0 edges imported to Neo4j
Preprocessing step 10 done!
### Preprocessing done in 0:00:27.127983!
RETRIEVAL call to file_get_contents(get_stylesheet_uri()).,None,None
RETRIEVAL call to file_get_contents(get_template_directory() . "/functions.php").,None,None
RETRIEVAL call to file_get_contents($root_dir . ".htaccess").,None,None
RETRIEVAL call to file_get_contents($base_dir . ".htaccess").,None,None
RETRIEVAL call to file_get_contents($root_dir . "wp-content/.htaccess").,None,None
RETRIEVAL call to file_get_contents($root_dir . "wp-admin/.htaccess").,None,None
RETRIEVAL call to file_get_contents($root_dir . "wp-includes/.htaccess").,None,None
variable '$is_pass' of personal types {'password'} is found.,,None
variable '$is_pass' of personal types {'password'} is found.,,None
variable '$is_pass' of personal types {'password'} is found.,,None
variable '$is_pass' of personal types {'password'} is found.,,None
variable '$is_pass' of personal types {'password'} is found.,,None
variable '$is_pass' of personal types {'password'} is found.,,None
variable '$is_pass' of personal types {'password'} is found.,,None
variable '$is_pass' of personal types {'password'} is found.,,None
variable '$is_pass' of personal types {'password'} is found.,,None
variable '$is_pass' of personal types {'password'} is found.,,None
variable '$is_pass' of personal types {'password'} is found.,,None
Finding all hooks in the current plugin...
Storing all hook information in the current plugin...

############################
### Incompliance Finding ###
############################

We found following evidences that your plugin is in violation of General Data Protection Regulation (GDPR).
[main] Found at least one personal data usage in the plugin. Analyzing the plugin. 

[has_storage] Storage check is NONE 

[third_party] Third party usage is NONE for data types [] 

[main] Applicable GDPR requirements: ['encryption', 'third_party'] 

[main] Is third_party in violation? False 

[main] Is encryption in violation? False 

[main] Complaint? True 

No findings
